@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #703EDB;
  --auth-primary: #5D5FEF;
  --auth-border: #7879F1;
  --grey-10: #D6D5D5;
  --grey-20: #F2F2F2;
  --grey-30: #F1F1F1;
  --grey-40: #D7D6D6;
}

html,
body {
  @apply h-full;
  padding: 0;
  margin: 0;
  /*font-family: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/

#__next {
  @apply h-full;
  /*display: flex;*/
  /*justify-content: center;*/
}