.card {
  font-family: "Montserrat", sans-serif;
  display: flex;
  border: 1px red solid;
}
.cardInner {
  @apply pt-8 px-[106px] pb-[98px] border-[1px] border-auth-border rounded-[14px] text-center m-auto;
  width: fit-content;
  /*width: 544px;*/
  /*height: 563px;*/
}

.card label,
.card input {
  display: block;
}

.card input {
  width: 333px;
}